<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cly.backend.mapper.CustomerMapper">

    <select id="getCustomerByUsername" resultType="Customer">
        select * from cly_customer where username = #{username}
    </select>

    <insert id="customerRegister" useGeneratedKeys="true" keyProperty="id">
        insert into cly_customer(username, password, email, phone_number, customer_type, salt)
        values(#{username}, #{password}, #{email}, #{phoneNumber}, #{customerType}, #{salt})
    </insert>

    <select id="getCustomerById" resultType="Customer">
        select *
        from cly_customer
        where id = #{id}
    </select>

    <select id="checkUsername" resultType="int">
        select count(*) from cly_customer where username = #{username}
    </select>
    <select id="checkEmail" resultType="int">
        select count(*) from cly_customer where email = #{email}
    </select>
    <select id="checkPhoneNumber" resultType="int">
        select count(*) from cly_customer where phone_number = #{phoneNumber}
    </select>

    <update id="updateAddress">
        update cly_customer
        set street = #{street}, city = #{city}, state = #{state}, zipcode = #{zipcode}
        where id = #{id}
    </update>
</mapper>