<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cly.backend.mapper.CustomerVehicleMapper">

<!--    private Long id;-->
<!--    private Long customerId;-->
<!--    private Long vehicleId;-->
<!--    private Vehicle vehicle;-->
<!--    private Long pickUpLocationId;-->
<!--    private Long dropOffLocationId;-->
<!--    private String pickUpDate;-->
<!--    private String dropOffDate;-->
<!--    private Integer startOdometer;-->
<!--    private Integer endOdometer;-->
<!--    private Integer dailyOdometerLimit;-->
<!--    private Long couponId;-->
<!--    private Integer status;-->
    <resultMap id="orderMap" type="CustomerVehicle">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="vehicle_id" property="vehicleId"/>
        <result property="pickUpLocationId" column="pick_up_location_id"/>
        <result property="dropOffLocationId" column="drop_off_location_id"/>
        <result property="pickUpDate" column="pick_up_date"/>
        <result property="dropOffDate" column="drop_off_date"/>
        <result property="startOdometer" column="start_odometer"/>
        <result property="endOdometer" column="end_odometer"/>
        <result property="dailyOdometerLimit" column="daily_odometer_limit"/>
        <result property="couponId" column="coupon_id"/>
        <result property="status" column="status"/>
        <association property="vehicle" javaType="Vehicle" column="vehicle_id" select="com.cly.backend.mapper.VehicleMapper.getVehicleById"/>
    </resultMap>

    <insert id="reserve" useGeneratedKeys="true" keyProperty="id">
        insert into cly_customer_vehicle(id, customer_id, vehicle_id, pick_up_location_id, drop_off_location_id,
                                         pick_up_date, drop_off_date, start_odometer, end_odometer, daily_odometer_limit, coupon_id, status)
        values(null, #{customerId}, #{vehicleId}, #{pickUpLocationId}, #{dropOffLocationId},
               #{pickUpDate}, #{dropOffDate}, null, null, #{dailyOdometerLimit}, #{couponId}, #{status})
    </insert>

    <update id="updateOrderWhenPickUp">
        update cly_customer_vehicle
        set start_odometer = #{startOdometer}, status = 2
        where id = #{id}
    </update>

    <update id="updateOrderWhenDropOff">
        update cly_customer_vehicle
        set end_odometer = #{endOdometer}, status = 2
        where id = #{id}
    </update>

    <select id="listReservedOrders" resultMap="orderMap">
        select * from cly_customer_vehicle where customer_id = #{customerId} and status = 0
    </select>
    <select id="listPickedUpOrders" resultMap="orderMap">
        select * from cly_customer_vehicle where customer_id = #{customerId} and status = 1
    </select>
    <select id="listDroppedOffOrders" resultMap="orderMap">
        select * from cly_customer_vehicle where customer_id = #{customerId} and status = 2
    </select>
    <select id="listPaidOrders" resultMap="orderMap">
        select * from cly_customer_vehicle where customer_id = #{customerId} and status = 3
    </select>

    <select id="listUncompletedOrdersByVehicleId" resultType="CustomerVehicle">
        select * from cly_customer_vehicle
        where status != 3 and vehicle_id = #{vehicle_id}
    </select>

</mapper>